<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="C:\Log_Files\internal-nlog.txt">
     
    <extensions> 
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>
             
  <targets>
    <target xsi:type="File" name="allfile" fileName="${gdc:item=configDir}\Log_WebAppServices_${shortdate}.log"
                layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception}" />
  
    <target name="database" xsi:type="Database" > 
    <connectionString>${gdc:item=connectionString}</connectionString>
          <commandText>
              insert into [dbo].[AppLogs] (
              Application, Logged, Level, Message,
              Logger, CallSite, Exception
              ) values (
              @Application, @Logged, @Level, @Message,
              @Logger, @Callsite, @Exception
              );
          </commandText>
 
          <parameter name="@application" layout="WebAppServices" />
          <parameter name="@logged" layout="${date}" />
          <parameter name="@level" layout="${level}" />
          <parameter name="@message" layout="url: ${aspnet-request-url} | action: ${aspnet-mvc-action} | ${message}" />
 
          <parameter name="@logger" layout="${logger}" />
          <parameter name="@callSite" layout="${callsite:filename=true}" />
          <parameter name="@exception" layout="${exception:tostring}" />
      </target>
  </targets>
 
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" /> 
    <logger name="*" minlevel="Warn" writeTo="database" />
  </rules>
</nlog>

 